@import 'https://fonts.googleapis.com/css?family=Play|Russo+One';
body {
  background: #36393B;
  color: #C5BC8E; }

.nav {
  z-index: 999;
  position: fixed;
  top: 0px;
  background-color: #45484B;
  height: 48px;
  width: 100%;
  margin: -8px;
  margin-bottom: 8px;
  padding: 8px;
  line-height: 48px;
  padding-left: 48px;
  font-family: 'Play', sans-serif;
  text-shadow: 0px 2px 1px #36393B;
  box-shadow: 0px 2px 1px #1e1f20; }
  .nav h1 {
    padding-bottom: 8px;
    margin: 8px;
    font-family: 'Russo One', sans-serif; }
  .nav .timePeriods {
    position: absolute;
    right: 32px;
    top: -8px;
    padding-top: 12px;
    height: 44px;
    list-style-type: none;
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch; }
    .nav .timePeriods li {
      margin-top: 0px;
      padding: 16px;
      padding-top: 0px;
      padding-left: 32px;
      padding-right: 32px;
      margin-bottom: 0px; }
    .nav .timePeriods li:hover {
      background-color: #696758;
      transition: background-color 0.3s ease; }

.visualizer {
  position: relative;
  margin: auto;
  width: 80%;
  top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: flex-start; }
  .visualizer .dataViz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.5%;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px; }

text {
  z-index: 99 !important;
  fill: #EEE6AB !important;
  font-family: "Play" !important;
  max-height: 300px !important; }

td {
  font-family: "Play";
  color: #45484B; }

tbody {
  background-color: #C5BC8E !important;
  border-color: #696758; }

.c3-tooltip tr {
  border-color: #696758; }

.c3-tooltip td {
  background-color: #C5BC8E !important; }

.c3-chart-arc path {
  stroke: #45484B; }
