@import 'https://fonts.googleapis.com/css?family=Play|Russo+One';

$lightest-color: #EEE6AB;
$light-color: #C5BC8E;
$medium-color: #696758;
$dark-color : #45484B;
$darkest-color: #36393B;
$shadow-color: darken($darkest-color, 10%);

body {
  background: $darkest-color;
  color: $light-color;
}

.nav {
  h1 {
    padding-bottom: 8px;
    margin: 8px;
    font-family: 'Russo One', sans-serif;
  }
  position: fixed;
  top: 0px;
  background-color: $dark-color;
  height: 48px;
  width: 100%;
  margin: -8px;
  margin-bottom: 8px;
  padding: 8px;
  line-height: 48px;
  padding-left: 48px;
  font-family: 'Play', sans-serif;
  text-shadow: 0px 2px 1px $darkest-color;
  box-shadow: 0px 2px 1px $shadow-color;
  .timePeriods {
    position: absolute;
    right: 48px;
    top: -8px;
    padding-top: 12px;
    height: 44px;
    list-style-type: none;
    width: 55%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    li {
      margin-top: 0px;
      padding: 16px;
      padding-top: 0px;
      margin-bottom: 0px;
    }
    li:hover {
      background-color: $medium-color;
    }
  }
}
.visualizer {
  position: relative;
  margin: auto;
  width: 90%;
  top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}